<div class="card card-body record-form-card border border-light">
  <h3 class="title fw-boldr mx-auto">取得 Email 驗證碼</h3>
  {{> messages}}
  <form action="/users/forgetPassword" method="POST">
    <div class="row g-4 align-items-center mt-0 m-3">
      <div class="col-4">
        <label for="email" class="col-form-label">Email</label>
      </div>
      <div class="col-8">
        <input id="email" type="email" name="email" class="form-control" placeholder="Email" value="{{email}}" required>
      </div>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">送出驗證碼</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>