<div class="card card-body record-form-card border border-light">
  <h3 class="title fw-boldr mx-auto">登入</h3>
  <form action="/users/login" method="POST">
    <div class="row g-4 align-items-center mt-0 m-3">
      <div class="col-4">
        <label for="email" class="col-form-label">Email</label>
      </div>
      <div class="col-8">
        <input id="email" type="email" name="email" class="form-control" placeholder="Email">
      </div>
      <div class="col-4">
        <label class="form-label" for="password">Password</label>
      </div>
      <div class="col-8">
        <input class="form-control" id="password" type="password" name="password" class="form-control"
          placeholder="Password">
      </div>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">送出</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid gap-2">
            <a class="btn btn-secondary" href="/users/register" role="button">註冊</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>