<div class="card card-body record-card border border-dark">
  <!--filter-->
  <div class="d-flex">
    <!--monthly filter-->
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        月份
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!--sort filter-->
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        類別
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>

  <!--data panel-->
  <section class="data-panel">

    <div class="row total-amount-display">
      <!-- total amount & graph -->
      <div class="col-6 border border-dark">
        <p>總金額</p>
      </div>
      <div class="col-6 border border-dark">
        <p>圖表</p>
      </div>
    </div>


    <!-- detail -->
    <div class="row expense-display">
      <li class="list-group-item d-flex list-group-item-light">
        <div class="col-8 d-flex expenses">
          分類
        </div>
        <div class="col-4 d-flex justify-content-end edit-delete">
          <a type="button" class="btn btn-outline-success m-1" href="./records/:id/edit"><i class="fas fa-edit"></i>
            編輯</a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger m-1"><i class="fa fa-trash" aria-hidden="true"></i>
              刪除</button>
          </form>
        </div>
      </li>
    </div>

    <div class="d-grid gap-2 mt-3 col-3 mx-auto">
      <a type="button" class="btn btn-warning" href="./records/create">
        新增支出</a>
    </div>

  </section>
</div>