<div class="card card-body record-form-card border border-light">
  <h1 class="text-center m-3 fw-bold">重設密碼</h1>
  {{> messages}}
  <form action="/users/resetPassword" method="POST">
    <div class="row g-4 align-items-center mt-0 m-3">
      <div class="col-4">
        <label for="email" class="col-form-label">Email <span style="color: #e83e8c;">*</span></label>
      </div>
      <div class="col-8">
        <input type="email" id="email" class="form-control" name="email" value="{{email}}" required>
      </div>
      <div class="col-4">
        <label for="verifyCode" class="col-form-label">驗證碼 <span style="color: #e83e8c;">*</span></label>
      </div>
      <div class="col-8">
        <input type="text" id="verifyCode" class="form-control" name="verifyCode" required>
        <input type="hidden" id="isVerifyCodeTrue" name="isVerifyCodeTrue" value="{{verifyCode}}">
      </div>
      <div class="col-4">
        <label for="newPassword" class="col-form-label">新密碼 <span style="color: #e83e8c;">*</span></label>
      </div>
      <div class="col-8">
        <input type="password" id="newPassword" class="form-control" name="newPassword" required>
      </div>
      <div class="col-4">
        <label for="confirmNewPassword" class="col-form-label">確認新密碼 <span style="color: #e83e8c;">*</span></label>
      </div>
      <div class="col-8">
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required>
      </div>
    </div>
    <div class="d-grid gap-2 col-8 mx-auto my-5">
      <button class="btn btn-outline-secondary login-button" type="submit">送出</button>
    </div>
  </form>
</div>